@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#counting-timer-text {
    font-size: 4rem;
    font-weight: 100;
    display: flex;
    gap: 20px;
}

.buttons-row {
    margin-bottom: 40px;
}

.rounded-btn {
    width: 96px;
    height: 96px;
    cursor: pointer;
    border: none;
    border-radius: 48px;
    color: white;
    background-color: #161616;
    margin-right: 20px;
    border: 4px solid transparent;
    transition: 200ms;
}

.rounded-btn:hover {
    background-color: #333;
    border: 4px solid #797979 !important;
}

.bg-red {
    background-color: #2b1010 !important;
    border: 4px solid transparent;
}
.bg-red:hover {
    background-color: #661212 !important;
    border: 4px solid #a11313 !important;
}